{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="V8">
</div>
<div class="transporteur">
    <div class="card" style="width: 18rem;">
        <h5 class="card-title">ID: {{transporteur.id}}</h5>
        <p class="card-text">Nom: {{transporteur.societe}}</p>
        <p class="card-text">@ {{transporteur.email}}</p>
        <p class="card-text">Nom: {{transporteur.nom}}</p>
        <p class="card-text">Prenom: {{transporteur.prenom}}</p>
        <p class="card-text">Fonction du user: {{transporteur.fonction}}</p>    
    </div>
</div>

</div>
{% endblock %}