{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<div class="V8">
</div>
    <h1 class="titre">Nos clients</h1>

    <div class="container">
  <div class="row">
   {% for users in users %}
    <div class="col-md-3 ">
      <div class="card" style="width: 18rem;  margin-bottom: 20px;">
        <div class="card-body">
          
          
          <ul style="list-style-type: none;  margin: 5px 0;  padding: 0;">
            <li>ID:{{users.id }}</li>
            <li>@: {{users.email}}</li>
            {% for role in users.roles %}
                {% if role == "ROLE_ADMIN" %}
                    Administrateur
                    
                {% elseif role == "ROLE_USER" %}
                    Utilisateur
                {% endif %}
            {% endfor %}
            
          </ul>
          <button class="modif" type="button"><a class="modifier" href="{{ path('edituser', {'id': users.id}) }}">Modifier</a></button>
          <button class="supp" type=""><a class="supprimer" href="{{ path('deleteuser', {'id': users.id}) }}">Supprimer</a></button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{#<div class="">
    <table class="titres">
        <thead >
            <th class="id">ID</th>
            <th class="mai">Email</th>
            <th class="rol">Rôles</th>
            <th class="action">Actions</th>
        </thead>
        <tbody>#}
            {# On boucle sur les utilisateurs 
            {% for users in users %}
                <div>
                    <div class="id">{{ users.id }}</div>
                    <div class="mai">{{ users.email }}</div>
                    <div class="rol">
                        {# On boucle sur les rôles 
                        {% for role in users.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </div>
                   
                    <div class="modif"><a  class="modifier" href="{{ path('edituser', {'id': users.id}) }}">Modifier</a></div>
                    <div class="supp"><a class="supprimer" href="{{ path('deleteuser', {'id': users.id}) }}">Supprimer</a></div>
                </div>
                
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}

        </tbody>
    </table>
</div>#}

{% endblock %}