
{% extends 'base.html.twig' %}

{% block title %}Modifier User{% endblock %}

{% block body %}
<h1>Bilan du mois</h1>
<p>Renseignez vos données du mois</p>

{% if app.user and annonce.author is same as (app.user) %}
        {{ form_start(form) }}
            <div class="date">
                {{ form_row(form.date) }}
            </div>
            {{ form_row(form.client) }}
            {{ form_row(form.vehicule) }}
            {{ form_row(form.distances) }}
            {{ form_row(form.depenses) }}
            {{ form_row(form.rotations) }}
            {{ form_row(form.volumes) }}
            {{ form_row(form.facturation) }}
            {{ form_row(form.observations) }}
            <button type="submit">Valider</button>
        {{ form_end(form) }}
{% {% endif %}%}
{% endblock %}
  

